# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Editor / entorno
.vscode/
.idea/
*.swp
*.swo
*.tmp

# Logs
*.log
npm-debug.log*

# Dependencias locales
node_modules/

# Archivos temporales
*.bak
*.orig

# Archivos de entorno
.env
.env.*

# Archivos de compilación / cache
.cache/
.dist/
coverage/

# Archivos generados por el navegador
*.cache
